@import "normalize";
@import "compass/css3";
@import "pygments-themes/github";

$light: #999;
$medium: #666;
$dark: #333;
$background: rgba(255,255,255,0.381);

@mixin inset-shadow($spread: 0.381em){
  @include single-box-shadow(rgba(0,0,0,0.2), -1px, 1px, $spread, 0px, inset);
}

body{
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.618em;
  color: $dark;
  background: url(/stylesheets/images/concrete_wall_3.png) fixed;
}

h1, h2, h3, h4, h5, h6{
  color: $dark;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:visited, &:active, &:hover{
    color: inherit;    
  }
}

blockquote {
  font-style: italic;
}

#container{
  margin: auto;
  width: 36em;
}

header{  
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: $medium;  
    display: inline-block;    
    font-family: 'Play', sans-serif;
  }
  h1 {
    text-transform: uppercase;
  }
  .byline {
    position: absolute;
    top: 0;
    right: 1.618em;
    a {
      color: $dark;
    }
  }
  p {
    margin-top: 0;
  }
  padding: 0.8em 1.61em;
  @include border-bottom-radius(0.5em);
  a {
    border-bottom: none;
  }
}

pre, code {
  background: $background;
  padding: 0.15em 0.3em 0.15em 0.4em;
  @include border-radius(0.3em);
  font-family: 'Ubuntu Mono', monospace;
}


pre {
  @include border-radius(0.5em);
  padding: 0.618em;
  display: block;
  overflow-x: auto;
  & > code{
    line-height: 1.5em;
    background: none;   
    display: inline-block;
    width: auto ;   
    white-space: pre;
  }  
}

footer {
  text-align: center;
  margin: 2.618em;
}

.post, .intro {
  a {
    text-decoration: none;
    color: $dark;
    border-bottom: thin dashed #999;
    &:visited{
      color: $dark;
    }
  }
}

.post-list, .intro{
  margin-bottom: 1.618em;
  @include inset-shadow();
  background: $background;
  @include border-radius(0.618em);  
}

.post-list{
  padding: 0;
  .post-li{
    cursor: pointer;
    @include transition-property('background');
    @include transition-duration(0.3s);

    display: block;
    padding: 0;
    line-height: 2em;
    position: relative;
    .post-link {
      padding: 1.618em;
      display: block;
    }
    .title {
      margin: 0 0 0.618em 0;
      color: $dark;
    }
    .arrow {
      position: absolute;
      top: 0.081em;
      left: -0.4em;
      font-size: 10em;
      @include translateX(-1em);
      @include opacity(0);
      color: rgba(100,100,100,0.3);
      @include transition-property(all);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in-out);
    }
    .tags {
      text-transform: uppercase;
      position: absolute;
      bottom: 0.618em;
      right: 1.618em;
      .tag {
        font-size: 0.8em;
        color: $medium;
        margin-left: 0.381em;
      }
    }
    border-bottom: thin solid #ccc; 
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      .arrow {
        @include translateX(0);
        @include rotate(0);
        @include opacity(1);
      }
    }
  }
}

.intro {
  @include border-radius(0.618em);  
  padding: 1.61em;
  background: $background;
  text-align: center;
  padding: 0.61em 1.61em;
}

.post {
  h1,h2,h3,h4,h5,h6{
    line-height: 1.4em;
    color: $dark;
  }  
  a {
    color: $dark;
  }
  padding: 0.8em 2.61em;
  background: $background;
  @include inset-shadow(0.381em);
  @include border-radius(0.618em);  
  position: relative;
  .date, .tags {
    @include inset-shadow(2px);
    position: absolute;
    padding: 0.618em;
    text-align: right;
    color: $light;
    background: $background;
    @include border-radius(0.381em);
    right: -8.318em;
    width: 7.618em;    
    @include box-sizing(border-box);
    -moz-box-sizing: border-box;
    border: none;
  }
  .date {
    top: 2.618em;
  }
  .tags{
    top: 6.618em;
    .tag{
      text-transform: uppercase;
      font-size: 0.8em;
      display: block;
      border-bottom: none;
    }
  }
}
