@import "normalize";
@import "compass/css3";
@import "pygments-themes/github";

$c1: #900;
$c2: #038;

body{
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.618em;
  color: #444;
  background: url(/stylesheets/images/bright_squares.png) fixed;
}

h1, h2, h3, h4, h5, h6{
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited, &:active, &:hover{
    color: inherit;    
  }
}

#container{
  margin: auto;
  width: 36em;
}

header{  
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    color: #666;  
    display: inline-block;    
    font-family: 'Play', sans-serif;
  }
  h1 {
    text-transform: uppercase;
  }
  .byline {
    position: absolute;
    top: 0;
    right: 1.618em;
    a {
      color: $c1;
    }
  }
  p {
    margin-top: 0;
  }
  padding: 0.8em 1.61em;
  @include border-bottom-radius(0.5em);
  a {
    border-bottom: none;
  }
}

pre, code {
  background: rgba(230,230,230,0.381);
  padding: 0.15em 0.3em 0.15em 0.4em;
  @include border-radius(0.3em);
  font-family: 'Ubuntu Mono', monospace;
}


pre {
  @include border-radius(0.5em);
  padding: 0.618em;
  display: block;
  overflow-x: auto;
  & > code{
    line-height: 1.5em;
    background: none;   
    display: inline-block;
    width: auto ;   
    white-space: pre;
  }  
}

footer {
  text-align: center;
  margin: 2.618em;
}

.post, .intro {
  a {
    text-decoration: none;
    color: $c2;
    border-bottom: thin dashed #999;
    &:visited{
      color: $c2;
    }
  }
}

.post-list, .intro{
  margin-bottom: 1.618em;
}

.post-list{
  padding: 0;
  .post-li{
    cursor: pointer;
    @include transition-property('background');
    @include transition-duration(0.3s);
    background: rgba(255,255,255, 0.618);
    display: block;
    padding: 1.618em;
    line-height: 2em;
    position: relative;
    .title {
      margin: 0;
      color: #900;
    }
    .arrow {
      position: absolute;
      top: 0.081em;
      left: -0.4em;
      font-size: 10em;
      @include translateX(-1em);
      @include opacity(0);
      color: rgba(100,100,100,0.3);
      @include transition-property(all);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in-out);
    }
    .tags {
      text-transform: uppercase;
      position: absolute;
      bottom: 0.618em;
      right: 1.618em;
      .tag {
        font-size: 0.8em;
        color: #038;
        margin-left: 0.381em;
      }
    }
    border-bottom: thin solid #ccc; 
    &:first-child{
      @include border-top-radius(0.618em);  
    }
    &:last-child {
      @include border-bottom-radius(0.618em);  
      border-bottom: none;
    }
    &:hover {
      .arrow {
        @include translateX(0);
        @include rotate(0);
        @include opacity(1);
      }
      background: rgba(255,255,255, 0.818);
    }
  }
}

.intro {
  @include border-radius(0.618em);  
  padding: 1.61em;
  background: rgba(255,255,255, 0.618);
  text-align: center;
  padding: 0.61em 1.61em;
}

.post {
  h1,h2,h3,h4,h5,h6{
    line-height: 1.4em;
    color: #900;
  }  
  a {
    color: #038;
  }
  padding: 0.8em 2.61em;
  background: rgba(255,255,255, 0.618);
  @include border-radius(0.618em);  
  position: relative;
  .date, .tags {
    position: absolute;
    padding: 0.618em;
    text-align: right;
    color: #999;
    background: rgba(255,255,255, 0.61);
    @include border-right-radius(0.6em);
    right: -7.618em;
    width: 7.618em;    
    @include box-sizing(border-box);
    -moz-box-sizing: border-box;
  }
  .date {
    top: 2.618em;
  }
  .tags{
    top: 6.618em;
    .tag{
      text-transform: uppercase;
      font-size: 0.8em;
      display: block;
      border-bottom: none;
    }
  }
}
