@import "normalize";
@import "compass/css3";
@import "pygments-themes/github";

body{
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.618em;
  color: #666;
  background: url(/stylesheets/images/light_alu.png);
}

h1, h2, h3, h4, h5, h6{
  color: #333;
}

#container{
  margin: auto;
  width: 36em;
}

header{  
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;    
    font-family: 'Play', sans-serif;
  }
  .byline {
    position: absolute;
    top: 0;
    right: 1.618em;
  }
  p {
    margin-top: 0;
  }
  padding: 0.8em 1.61em;
  @include border-bottom-radius(0.5em);
}

pre, code {
  background: rgba(230,230,230,0.6);
  padding: 0.15em 0.3em 0.15em 0.4em;
  @include border-radius(0.3em);
  font-family: 'Ubuntu Mono', monospace;
}


pre {
  @include border-radius(0.5em);
  padding: 0.618em;
  display: block;
  overflow-x: auto;
  & > code{
    line-height: 1.5em;
    background: none;   
    display: inline-block;
    width: auto ;   
    white-space: pre;
  }  
}

footer {
  text-align: center;
  margin: 2.618em;
}

.post {
  h1,h2,h3,h4,h5,h6{
    line-height: 1.4em;
  }
  padding: 0.8em 2.61em;
  background: rgba(255,255,255, 1);
  @include border-radius(0.618em);  
  position: relative;
  .date, .share {
    position: absolute;
    padding: 0.618em;
    text-align: right;
    color: rgba(100,100,100,0.61);
    background: rgba(255,255,255, 0.61);
    @include border-right-radius(0.6em);
  }
  .date {
    top: 2.618em;
    right: -7em;
    width: 7em;
  }
  .share{
    top: 6.618em;
    right: -7em;
    width: 6em;
    text-align: right;
    height: 1.618em;
    overflow: hidden;
    @include transition-property('width, height, right,  background');
    @include transition-duration(0.3s);
    &:hover{
      width: 16.8em;
      right: -17.8em;
      height: 3.8em;
      background: rgba(255,255,255, 1);
      .addthis_toolbox{
        opacity: 1;
      }
      
    }
    .addthis_toolbox{
      @include transition-property('opacity');
      @include transition-duration(0.3s);
      display: inline-block;
      width: 20em;
      margin-top: 0.618em;
      opacity: 0;
    }
  }
}
