/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 20, ../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, ../sass/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 40, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 49, ../sass/normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 66, ../sass/normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 77, ../sass/normalize.scss */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 89, ../sass/normalize.scss */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 102, ../sass/normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../sass/normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 125, ../sass/normalize.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 133, ../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 142, ../sass/normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 146, ../sass/normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 154, ../sass/normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 162, ../sass/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 175, ../sass/normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 185, ../sass/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 198, ../sass/normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 205, ../sass/normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 210, ../sass/normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 220, ../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, ../sass/normalize.scss */
sup {
  top: -0.5em;
}

/* line 231, ../sass/normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 241, ../sass/normalize.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

/* line 246, ../sass/normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 251, ../sass/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 267, ../sass/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 276, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 289, ../sass/normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 302, ../sass/normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 310, ../sass/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
/* line 321, ../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 335, ../sass/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 347, ../sass/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 361, ../sass/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/* line 373, ../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 383, ../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/* line 394, ../sass/normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 404, ../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 414, ../sass/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 428, ../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../sass/pygments-themes/github.scss */
.codehilite .hll {
  background-color: #ffffff;
}

/* line 3, ../sass/pygments-themes/github.scss */
.codehilite .c {
  color: #888888;
  font-style: italic;
}

/* Comment */
/* line 4, ../sass/pygments-themes/github.scss */
.codehilite .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 5, ../sass/pygments-themes/github.scss */
.codehilite .k {
  color: #000000;
  font-weight: bold;
}

/* Keyword */
/* line 6, ../sass/pygments-themes/github.scss */
.codehilite .cm {
  color: #888888;
}

/* Comment.Multiline */
/* line 7, ../sass/pygments-themes/github.scss */
.codehilite .cp {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 8, ../sass/pygments-themes/github.scss */
.codehilite .c1 {
  color: #888888;
}

/* Comment.Single */
/* line 9, ../sass/pygments-themes/github.scss */
.codehilite .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Comment.Special */
/* line 10, ../sass/pygments-themes/github.scss */
.codehilite .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../sass/pygments-themes/github.scss */
.codehilite .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../sass/pygments-themes/github.scss */
.codehilite .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 13, ../sass/pygments-themes/github.scss */
.codehilite .gh {
  color: #303030;
}

/* Generic.Heading */
/* line 14, ../sass/pygments-themes/github.scss */
.codehilite .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 15, ../sass/pygments-themes/github.scss */
.codehilite .go {
  color: #888888;
}

/* Generic.Output */
/* line 16, ../sass/pygments-themes/github.scss */
.codehilite .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 17, ../sass/pygments-themes/github.scss */
.codehilite .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 18, ../sass/pygments-themes/github.scss */
.codehilite .gu {
  color: #606060;
}

/* Generic.Subheading */
/* line 19, ../sass/pygments-themes/github.scss */
.codehilite .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 20, ../sass/pygments-themes/github.scss */
.codehilite .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 21, ../sass/pygments-themes/github.scss */
.codehilite .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 22, ../sass/pygments-themes/github.scss */
.codehilite .kn {
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 23, ../sass/pygments-themes/github.scss */
.codehilite .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 24, ../sass/pygments-themes/github.scss */
.codehilite .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 25, ../sass/pygments-themes/github.scss */
.codehilite .kt {
  color: #458;
  font-weight: bold;
}

/* Keyword.Type */
/* line 26, ../sass/pygments-themes/github.scss */
.codehilite .m {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number */
/* line 27, ../sass/pygments-themes/github.scss */
.codehilite .s {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String */
/* line 28, ../sass/pygments-themes/github.scss */
.codehilite .na {
  color: #008080;
}

/* Name.Attribute */
/* line 29, ../sass/pygments-themes/github.scss */
.codehilite .nb {
  color: #0086B3;
}

/* Name.Builtin */
/* line 30, ../sass/pygments-themes/github.scss */
.codehilite .nc {
  color: #458;
  font-weight: bold;
}

/* Name.Class */
/* line 31, ../sass/pygments-themes/github.scss */
.codehilite .no {
  color: #008080;
}

/* Name.Constant */
/* line 32, ../sass/pygments-themes/github.scss */
.codehilite .ni {
  color: #800080;
}

/* line 33, ../sass/pygments-themes/github.scss */
.codehilite .ne {
  color: #900;
  font-weight: bold;
}

/* Name.Exception */
/* line 34, ../sass/pygments-themes/github.scss */
.codehilite .nf {
  color: #900;
  font-weight: bold;
}

/* Name.Function */
/* line 35, ../sass/pygments-themes/github.scss */
.codehilite .nn {
  color: #005;
  font-weight: bold;
}

/* Name.Namespace */
/* line 36, ../sass/pygments-themes/github.scss */
.codehilite .nt {
  color: #000080;
}

/* Name.Tag */
/* line 37, ../sass/pygments-themes/github.scss */
.codehilite .nv {
  color: #008080;
}

/* Name.Variable */
/* line 38, ../sass/pygments-themes/github.scss */
.codehilite .py {
  color: #336699;
  font-weight: bold;
}

/* Name.Property */
/* line 39, ../sass/pygments-themes/github.scss */
.codehilite .ow {
  color: #008800;
}

/* Operator.Word */
/* line 40, ../sass/pygments-themes/github.scss */
.codehilite .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../sass/pygments-themes/github.scss */
.codehilite .mf {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 42, ../sass/pygments-themes/github.scss */
.codehilite .mh {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 43, ../sass/pygments-themes/github.scss */
.codehilite .highlight .mi {
  color: #099;
}

/* Literal.Number.Integer */
/* line 44, ../sass/pygments-themes/github.scss */
.codehilite .mo {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 45, ../sass/pygments-themes/github.scss */
.codehilite .sb {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 46, ../sass/pygments-themes/github.scss */
.codehilite .highlight .sc {
  color: #d14;
}

/* Literal.String.Char */
/* line 47, ../sass/pygments-themes/github.scss */
.codehilite .sd {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Doc */
/* line 48, ../sass/pygments-themes/github.scss */
.codehilite .s2 {
  color: #d14;
}

/* Literal.String.Double */
/* line 49, ../sass/pygments-themes/github.scss */
.codehilite .se {
  color: #d14;
}

/* Literal.String.Escape */
/* line 50, ../sass/pygments-themes/github.scss */
.codehilite .sh {
  color: #d14;
}

/* Literal.String.Heredoc */
/* line 51, ../sass/pygments-themes/github.scss */
.codehilite .si {
  color: #d14;
}

/* Literal.String.Interpol */
/* line 52, ../sass/pygments-themes/github.scss */
.codehilite .sx {
  color: #d14;
}

/* Literal.String.Other */
/* line 53, ../sass/pygments-themes/github.scss */
.codehilite .sr {
  color: #d14;
}

/* Literal.String.Regex */
/* line 54, ../sass/pygments-themes/github.scss */
.codehilite .s1 {
  color: #d14;
}

/* Literal.String.Single */
/* line 55, ../sass/pygments-themes/github.scss */
.codehilite .ss {
  color: #d14;
}

/* Literal.String.Symbol */
/* line 56, ../sass/pygments-themes/github.scss */
.codehilite .bp {
  color: #003388;
}

/* Name.Builtin.Pseudo */
/* line 57, ../sass/pygments-themes/github.scss */
.codehilite .vc {
  color: #336699;
}

/* Name.Variable.Class */
/* line 58, ../sass/pygments-themes/github.scss */
.codehilite .vg {
  color: #dd7700;
}

/* Name.Variable.Global */
/* line 59, ../sass/pygments-themes/github.scss */
.codehilite .vi {
  color: #3333bb;
}

/* Name.Variable.Instance */
/* line 60, ../sass/pygments-themes/github.scss */
.codehilite .il {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
/* line 14, ../sass/screen.scss */
body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.618em;
  color: #333333;
  background: url(/stylesheets/images/concrete_wall_3.png) fixed;
}

/* line 22, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 26, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* line 30, ../sass/screen.scss */
a:visited, a:active, a:hover {
  color: inherit;
}

/* line 35, ../sass/screen.scss */
blockquote {
  font-style: italic;
}

/* line 39, ../sass/screen.scss */
#container {
  margin: auto;
  width: 36em;
}

/* line 44, ../sass/screen.scss */
header {
  position: relative;
  padding: 0.8em 1.61em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -ms-border-bottom-left-radius: 0.5em;
  -o-border-bottom-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -ms-border-bottom-right-radius: 0.5em;
  -o-border-bottom-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
/* line 46, ../sass/screen.scss */
header h1, header h2, header h3, header h4, header h5, header h6 {
  color: #666666;
  display: inline-block;
  font-family: 'Play', sans-serif;
}
/* line 51, ../sass/screen.scss */
header h1 {
  text-transform: uppercase;
}
/* line 54, ../sass/screen.scss */
header .byline {
  position: absolute;
  top: 0;
  right: 1.618em;
}
/* line 58, ../sass/screen.scss */
header .byline a {
  color: #333333;
}
/* line 62, ../sass/screen.scss */
header p {
  margin-top: 0;
}
/* line 67, ../sass/screen.scss */
header a {
  border-bottom: none;
}

/* line 72, ../sass/screen.scss */
pre, code {
  background: rgba(255, 255, 255, 0.381);
  padding: 0.15em 0.3em 0.15em 0.4em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  font-family: 'Ubuntu Mono', monospace;
}

/* line 80, ../sass/screen.scss */
pre {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.618em;
  display: block;
  overflow-x: auto;
}
/* line 85, ../sass/screen.scss */
pre > code {
  line-height: 1.5em;
  background: none;
  display: inline-block;
  width: auto;
  white-space: pre;
}

/* line 94, ../sass/screen.scss */
footer {
  text-align: center;
  margin: 2.618em;
}
/* line 97, ../sass/screen.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 103, ../sass/screen.scss */
.post a, .intro a {
  text-decoration: none;
  color: #333333;
  border-bottom: thin dashed #999;
}
/* line 107, ../sass/screen.scss */
.post a:visited, .intro a:visited {
  color: #333333;
}

/* line 113, ../sass/screen.scss */
.post-list, .intro {
  margin-bottom: 1.618em;
  -webkit-box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.381);
  -webkit-border-radius: 0.618em;
  -moz-border-radius: 0.618em;
  -ms-border-radius: 0.618em;
  -o-border-radius: 0.618em;
  border-radius: 0.618em;
}

/* line 120, ../sass/screen.scss */
.post-list {
  padding: 0;
}
/* line 122, ../sass/screen.scss */
.post-list .post-li {
  cursor: pointer;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: block;
  padding: 0;
  line-height: 2em;
  position: relative;
  border-bottom: thin solid #ccc;
}
/* line 131, ../sass/screen.scss */
.post-list .post-li .post-link {
  padding: 1.618em;
  display: block;
}
/* line 135, ../sass/screen.scss */
.post-list .post-li .title {
  margin: 0 0 0.618em 0;
  color: #333333;
}
/* line 139, ../sass/screen.scss */
.post-list .post-li .arrow {
  position: absolute;
  top: 0.081em;
  left: -0.4em;
  font-size: 10em;
  -webkit-transform: translateX(-1em);
  -moz-transform: translateX(-1em);
  -ms-transform: translateX(-1em);
  -o-transform: translateX(-1em);
  transform: translateX(-1em);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: rgba(100, 100, 100, 0.3);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 151, ../sass/screen.scss */
.post-list .post-li .tags {
  text-transform: uppercase;
  position: absolute;
  bottom: 0.618em;
  right: 1.618em;
}
/* line 156, ../sass/screen.scss */
.post-list .post-li .tags .tag {
  font-size: 0.8em;
  color: #666666;
  margin-left: 0.381em;
}
/* line 163, ../sass/screen.scss */
.post-list .post-li:last-child {
  border-bottom: none;
}
/* line 167, ../sass/screen.scss */
.post-list .post-li:hover .arrow {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 176, ../sass/screen.scss */
.intro {
  -webkit-border-radius: 0.618em;
  -moz-border-radius: 0.618em;
  -ms-border-radius: 0.618em;
  -o-border-radius: 0.618em;
  border-radius: 0.618em;
  padding: 1.61em;
  background: rgba(255, 255, 255, 0.381);
  text-align: center;
  padding: 0.61em 1.61em;
}

/* line 184, ../sass/screen.scss */
.post {
  padding: 0.8em 2.61em;
  background: rgba(255, 255, 255, 0.381);
  -webkit-box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 0.381em 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.618em;
  -moz-border-radius: 0.618em;
  -ms-border-radius: 0.618em;
  -o-border-radius: 0.618em;
  border-radius: 0.618em;
  position: relative;
}
/* line 185, ../sass/screen.scss */
.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  line-height: 1.4em;
  color: #333333;
}
/* line 189, ../sass/screen.scss */
.post a {
  color: #333333;
}
/* line 197, ../sass/screen.scss */
.post .date, .post .tags, .post .engage {
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  padding: 0.618em;
  text-align: right;
  color: #999999;
  background: rgba(255, 255, 255, 0.381);
  -webkit-border-radius: 0.381em;
  -moz-border-radius: 0.381em;
  -ms-border-radius: 0.381em;
  -o-border-radius: 0.381em;
  border-radius: 0.381em;
  right: -10.318em;
  width: 9.618em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
}
/* line 210, ../sass/screen.scss */
.post .date a:hover, .post .tags a:hover, .post .engage a:hover {
  text-decoration: underline;
}
/* line 214, ../sass/screen.scss */
.post .date {
  top: 2.618em;
}
/* line 217, ../sass/screen.scss */
.post .engage {
  top: 6.618em;
}
/* line 219, ../sass/screen.scss */
.post .engage a {
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  border-bottom: none;
}
/* line 226, ../sass/screen.scss */
.post .tags {
  top: 14.618em;
}
/* line 228, ../sass/screen.scss */
.post .tags .tag {
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  border-bottom: none;
}
