/* line 1, ../../sass/pygments-themes/pastie.scss */
.codehilite .hll {
  background-color: #ffffcc;
}

/* line 2, ../../sass/pygments-themes/pastie.scss */
.codehilite .c {
  color: #888888;
}

/* Comment */
/* line 3, ../../sass/pygments-themes/pastie.scss */
.codehilite .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../../sass/pygments-themes/pastie.scss */
.codehilite .k {
  color: #008800;
  font-weight: bold;
}

/* Keyword */
/* line 5, ../../sass/pygments-themes/pastie.scss */
.codehilite .cm {
  color: #888888;
}

/* Comment.Multiline */
/* line 6, ../../sass/pygments-themes/pastie.scss */
.codehilite .cp {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 7, ../../sass/pygments-themes/pastie.scss */
.codehilite .c1 {
  color: #888888;
}

/* Comment.Single */
/* line 8, ../../sass/pygments-themes/pastie.scss */
.codehilite .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Comment.Special */
/* line 9, ../../sass/pygments-themes/pastie.scss */
.codehilite .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 10, ../../sass/pygments-themes/pastie.scss */
.codehilite .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 11, ../../sass/pygments-themes/pastie.scss */
.codehilite .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 12, ../../sass/pygments-themes/pastie.scss */
.codehilite .gh {
  color: #303030;
}

/* Generic.Heading */
/* line 13, ../../sass/pygments-themes/pastie.scss */
.codehilite .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 14, ../../sass/pygments-themes/pastie.scss */
.codehilite .go {
  color: #888888;
}

/* Generic.Output */
/* line 15, ../../sass/pygments-themes/pastie.scss */
.codehilite .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 16, ../../sass/pygments-themes/pastie.scss */
.codehilite .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 17, ../../sass/pygments-themes/pastie.scss */
.codehilite .gu {
  color: #606060;
}

/* Generic.Subheading */
/* line 18, ../../sass/pygments-themes/pastie.scss */
.codehilite .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 19, ../../sass/pygments-themes/pastie.scss */
.codehilite .kc {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 20, ../../sass/pygments-themes/pastie.scss */
.codehilite .kd {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 21, ../../sass/pygments-themes/pastie.scss */
.codehilite .kn {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 22, ../../sass/pygments-themes/pastie.scss */
.codehilite .kp {
  color: #008800;
}

/* Keyword.Pseudo */
/* line 23, ../../sass/pygments-themes/pastie.scss */
.codehilite .kr {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 24, ../../sass/pygments-themes/pastie.scss */
.codehilite .kt {
  color: #888888;
  font-weight: bold;
}

/* Keyword.Type */
/* line 25, ../../sass/pygments-themes/pastie.scss */
.codehilite .m {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number */
/* line 26, ../../sass/pygments-themes/pastie.scss */
.codehilite .s {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String */
/* line 27, ../../sass/pygments-themes/pastie.scss */
.codehilite .na {
  color: #336699;
}

/* Name.Attribute */
/* line 28, ../../sass/pygments-themes/pastie.scss */
.codehilite .nb {
  color: #003388;
}

/* Name.Builtin */
/* line 29, ../../sass/pygments-themes/pastie.scss */
.codehilite .nc {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Class */
/* line 30, ../../sass/pygments-themes/pastie.scss */
.codehilite .no {
  color: #003366;
  font-weight: bold;
}

/* Name.Constant */
/* line 31, ../../sass/pygments-themes/pastie.scss */
.codehilite .nd {
  color: #555555;
}

/* Name.Decorator */
/* line 32, ../../sass/pygments-themes/pastie.scss */
.codehilite .ne {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Exception */
/* line 33, ../../sass/pygments-themes/pastie.scss */
.codehilite .nf {
  color: #0066bb;
  font-weight: bold;
}

/* Name.Function */
/* line 34, ../../sass/pygments-themes/pastie.scss */
.codehilite .nl {
  color: #336699;
  font-style: italic;
}

/* Name.Label */
/* line 35, ../../sass/pygments-themes/pastie.scss */
.codehilite .nn {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Namespace */
/* line 36, ../../sass/pygments-themes/pastie.scss */
.codehilite .py {
  color: #336699;
  font-weight: bold;
}

/* Name.Property */
/* line 37, ../../sass/pygments-themes/pastie.scss */
.codehilite .nt {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Tag */
/* line 38, ../../sass/pygments-themes/pastie.scss */
.codehilite .nv {
  color: #336699;
}

/* Name.Variable */
/* line 39, ../../sass/pygments-themes/pastie.scss */
.codehilite .ow {
  color: #008800;
}

/* Operator.Word */
/* line 40, ../../sass/pygments-themes/pastie.scss */
.codehilite .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../../sass/pygments-themes/pastie.scss */
.codehilite .mf {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 42, ../../sass/pygments-themes/pastie.scss */
.codehilite .mh {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 43, ../../sass/pygments-themes/pastie.scss */
.codehilite .mi {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 44, ../../sass/pygments-themes/pastie.scss */
.codehilite .mo {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 45, ../../sass/pygments-themes/pastie.scss */
.codehilite .sb {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 46, ../../sass/pygments-themes/pastie.scss */
.codehilite .sc {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Char */
/* line 47, ../../sass/pygments-themes/pastie.scss */
.codehilite .sd {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Doc */
/* line 48, ../../sass/pygments-themes/pastie.scss */
.codehilite .s2 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 49, ../../sass/pygments-themes/pastie.scss */
.codehilite .se {
  color: #0044dd;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 50, ../../sass/pygments-themes/pastie.scss */
.codehilite .sh {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 51, ../../sass/pygments-themes/pastie.scss */
.codehilite .si {
  color: #3333bb;
  background-color: #fff0f0;
}

/* Literal.String.Interpol */
/* line 52, ../../sass/pygments-themes/pastie.scss */
.codehilite .sx {
  color: #22bb22;
  background-color: #f0fff0;
}

/* Literal.String.Other */
/* line 53, ../../sass/pygments-themes/pastie.scss */
.codehilite .sr {
  color: #008800;
  background-color: #fff0ff;
}

/* Literal.String.Regex */
/* line 54, ../../sass/pygments-themes/pastie.scss */
.codehilite .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Single */
/* line 55, ../../sass/pygments-themes/pastie.scss */
.codehilite .ss {
  color: #aa6600;
  background-color: #fff0f0;
}

/* Literal.String.Symbol */
/* line 56, ../../sass/pygments-themes/pastie.scss */
.codehilite .bp {
  color: #003388;
}

/* Name.Builtin.Pseudo */
/* line 57, ../../sass/pygments-themes/pastie.scss */
.codehilite .vc {
  color: #336699;
}

/* Name.Variable.Class */
/* line 58, ../../sass/pygments-themes/pastie.scss */
.codehilite .vg {
  color: #dd7700;
}

/* Name.Variable.Global */
/* line 59, ../../sass/pygments-themes/pastie.scss */
.codehilite .vi {
  color: #3333bb;
}

/* Name.Variable.Instance */
/* line 60, ../../sass/pygments-themes/pastie.scss */
.codehilite .il {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
