{% extends "base.html" %}
{% block title %}Hangar: The Runway 7 Blog{% endblock %}
{% block content %}
{% if not without_intro %}
<section class="intro">
  <p>The Hangar is a collection of insights, guides and how-to's for Python, <a href="http://code.google.com/appengine">Google App Engine</a>, <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a> / JavaScript, SASS and high-performance web development, all gained when working on <a href="http://www.runway7.net">Runway 7</a>.</p>
  <p>Most of the apps referred to here are open sourced on <a href="https://github.com/runway7">github.com/runway7</a>.</p>
  <p>Follow <a href="https://twitter.com/#!/runway_7">@runway_7</a>, email <a href="mailto:sudhir.j@runway7.net">sudhir.j@runway7.net</a>, or subscribe via <a href="http://feeds.feedburner.com/hangar-runway7">RSS</a>.</p>
</section>  
{% endif %}
<section class='post-list'>
  {% for post in posts %}
    <section class="post-li">
      <a class="post-link" href="{{post.key.id()}}">
        <h3 class="title">{{ post.title }}</h3>
        <div class='date'>{{post.date.strftime('%b %d, %Y')}}</div>
      </a>
      {% if post.tags %}
        <div class="tags">          
          {% for tag in post.tags %}
            <a class="tag" href="{{ url_for('by-tag', tag = tag) }}">{{ tag }}</a>
          {% endfor %}
        </div>        
      {% endif %}
      <div class="arrow">&gt;</div>
    </section>
  {% endfor %}  
</section>
{% endblock %}