{% extends "base.html" %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
<section class="post">
  <div class="date">{{post.date.strftime('%b %d, %Y')}}</div>
  {{ post.content }}  
  <div class="share">
    share this
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_tweet"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_hackernews"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4edbb4881a143c39"></script>
    <!-- AddThis Button END -->
  </div>
</section>
{% endblock %}